html {
    min-height: 100%;
    display: flex;
}

body {
    width: 100%;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    background: linear-gradient(45deg, #191517, #232323, #1f1b1e);
    color: #f0f0f0;
    padding: 4rem 2rem;
}

p {
    color: #ccc;
}

h1 {
    font-family: utopia-std-caption, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
}

.sidebar h1 {
    text-align: right;
    border-top: .1em solid;
    margin: .3rem 0 3rem;
    padding-top: 1em;
}


/* FORMS */

label {
    color: #ccc;
}

.dark select,
.dark input:not(.button):not([type=file]),
.dark textarea,
#searchbar input {
    position: relative;
    line-height: 1.5;
    padding: 1em .6em;
    border: none;
    color: inherit;
    background-color: #2d2d2d;
    transition: background-color .3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
        background-position .3s ease-out;
}

.dark input[type=file] {
    padding: .5em 0;
}

.dark select {
    padding: 0 2em 0 .6em;
}

.dark input:not(.button):not([type=file]),
.dark textarea {
    background-image: linear-gradient(to right, #42309b 0, #3caad5 50%, #555 50%, #555 100%);
    background-size: 200% .2em;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

select:focus,
input:not(.button):focus,
textarea:focus {
    outline: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: none !important;
}

.dark select:focus,
.dark input[type=file]:focus {
    background-color: #555;
}

.dark input:not(.button):not([type=file]):focus,
.dark textarea:focus {
    background-position: 0 100%;
}

.dark ::placeholder,
#searchbar ::placeholder {
  color: #555;
  opacity: 1;
}

#searchbar {
    margin-bottom: 3rem;
}

#searchbar input {
    border: 1px solid #323232;
    border-radius: 2px;
    background-image: linear-gradient(to right, #42309b 0, #3caad5 50%, #2d2d2d 50%, #2d2d2d 100%);
    background-size: 200% .2em;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

#searchbar input:focus {
    background-position: 0 100%;
}

.controls {
    margin-top: 3rem;
    display: flex;
}

.controls .button + .button,
.controls .button + form,
.controls form + .button {
    margin-left: 1em;
}

.button.delete,
.button.edit,
.button.undo {
    color: inherit;
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: 1em .8em;
    padding-left: 2.5em;
}

.button.delete {
    background-image: url(/static/img/trash.svg);
}

.button.undo {
    background-image: url(/static/img/undo.svg);
}

.button.edit {
    background-image: url(/static/img/edit.svg);
}

.button.delete:hover,
.button.delete:active,
.button.undo:hover,
.button.undo:active,
.button.edit:hover,
.button.edit:active {
    color: #fff;
}


/* PICTURES */

.pictures-container {
    display: flex;
    flex-flow: row wrap;
}

.pictures-container .picture-item {
    flex: 2 2 300px;
    display: flex;
    margin: .3rem;
}

.pictures-container .picture-item.-narrow {
    flex: 1 3 225px;
}

.pictures-container .picture-item.-wide {
    flex: 3 1 400px;
}

.pictures-container .picture-item a {
    flex: 1;
    display: flex;
    background-color: #fff;
}

.pictures-container img {
    flex: 1;
    height: 300px;
    object-fit: cover;
    object-position: center;
    transition: opacity .2s ease;
}

.pictures-container a:hover img {
    opacity: .9;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: .4rem;
    background: linear-gradient(to right, rgba(23,23,23,0) 0, rgba(23,23,23,0) 20%, #dd55db 20%, #42309b, #3caad5 64%, rgba(23,23,23,0) 64%, rgba(23,23,23,0) 100%);
    background-size: 300% 100%;

    -webkit-animation: Loading 4s ease infinite;
    -moz-animation: Loading 4s ease infinite;
    animation: Loading 4s ease infinite;
}

@-webkit-keyframes Loading {
    0%{background-position:200% 100%}
    50%{background-position:0, 100%}
    100%{background-position:200% 100%}
}
@-moz-keyframes Loading {
    0%{background-position:200% 100%}
    50%{background-position:0, 100%}
    100%{background-position:200% 100%}
}
@keyframes Loading {
    0%{background-position:200% 100%}
    50%{background-position:0, 100%}
    100%{background-position:200% 100%}
}

@media screen and (min-width: 40em) {

    .pictures-container .picture-item:last-child {
        max-width: 800px;
    }

}

@media screen and (min-width: 64em) {

    .pictures-container .picture-item:last-child {
        max-width: 450px;
    }

}


/* PICTURE DETAILS */

.title {
    margin: 4rem 0 2rem;
}

.property-name {
    display: block;
    color: #fff;
    font-weight: bold;
    margin-bottom: .25em;
}


/* NAVIGATION */

.breadcrumbs li {
    color: #ccc;
}

.pagination-container {
    margin-top: 2rem;
}

.pagination a,
.pagination button,
.pagination .ellipsis::after {
    color: inherit;
}

.pagination a:hover,
.pagination button:hover {
    background-color: #555;
}

.pagination .disabled {
    color: #555;
    cursor: inherit;
}

#add-button {
    display: flex;
    flex-flow: column wrap;
    text-align: right;
    padding: 1em;
    font-weight: 700;
    background-image: linear-gradient(to right, #42309b 0, #3caad5 50%, #2d2d2d 50%, #2d2d2d 100%);
    background-size: 205% 100%;
    background-repeat: no-repeat;
    background-position: 98% 0;
    transition: background-position .2s ease-out;
}

#add-button:hover {
    background-position: 1% 0;
}

#add-button::before {
    content: '';
    width: 2em;
    height: 2em;
    background: url(/static/img/camera.svg) center no-repeat;
    background-size: contain;
    margin-bottom: 1em;
    margin-right: .25em;
}

@media screen and (min-width: 40em) {

    #add-button {
        margin: .3rem;
        position: fixed;
        width: inherit;
    }

}



/* START PAGE */

.getting-started {
    background-image: url(/static/img/getting-started.png),
        linear-gradient(45deg, #191517, #232323, #1f1b1e);
    background-repeat: no-repeat;
    background-position: top 140%;
    background-size: auto 90%, 100%;
}

.getting-started .grid-container,
.getting-started .grid-x {
    height: 100%;
}

.getting-started h1 {
    font-size: 3rem;
    text-shadow: 2px 2px #232323;
}

.getting-started .subtitle {
    font-size: 1.5rem;
    text-shadow: 2px 2px #232323;
}

.getting-started #add-button {
    position: relative;
    max-width: 100%;
    margin-top: 4rem;
    margin-bottom: 15vh;
    background-image: linear-gradient(to right, #dd55db 0, #802f99 50%, #42309b 50%, #3caad5 100%);
}

@media screen and (min-width: 40em) {
    .getting-started {
        background-position: 40vw top, 0;
    }

    .getting-started h1 {
        font-size: 5rem;
    }

    .getting-started .subtitle {
        font-size: 2rem;
    }

    .getting-started #add-button {
        max-width: 50%;
    }
}

@media screen and (min-width: 80em) {
    .getting-started {
        background-position: right top, 0;
    }
}
