{% extends 'base.html' %}


{% block body %}

    {% block search %}

        <div class="grid-container fluid">
            <div class="grid-x align-right">
                <div class="cell medium-5 large-4">

                    <form id="searchbar" method="get" action="/search/">
                        <input name="title" type="text" placeholder="Search by title">
                    </form>

                </div>
            </div>
        </div>

    {% endblock %}

    <div class="grid-container fluid">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-3 large-2 sidebar">

                {% block sidebar %}
                {% endblock %}

            </div>
            <div class="cell auto">

                {% block content %}
                {% endblock %}

            </div>
        </div>
    </div>

{% endblock %}