{% extends 'article-page.html' %}

{% block title %}Edit a Picture{% endblock title %}

{% block breadcrumbs_title %}Editing a Picture{% endblock %}

{% block content %}

    {% if status %}

        <p>{{ status }}</p>

        {% if errors %}
            {{ errors }}
        {% endif %}

    {% endif %}

    <form enctype="multipart/form-data" action="/edit/{{ picture_id }}/" method="post"  class="dark">
        {% csrf_token %}
        {{ form }}
        <input class="button" type="Submit" value="Save">
    </form>

{% endblock %}