{% extends 'base.html' %}


{% block title %}A List of Pictures{% endblock title %}

{% block content %}

    {% if not pictures %}

        <p>Sorry, but there are no pictures yet ._.</p>
        <a href="/add/" title="Add a picture">Add a new one</a>

    {% else %}

        <a href="/add/" title="Add a picture">Add a picture</a>

        {% for picture in pictures %}

            <a href="/picture/{{ picture.id }}/" title="{{ picture.title }}">
                <img src="{{ picture.image_small.url }}" alt="{{ picture.title }}">
            </a>

        {% endfor %}

    {% endif %}

{% endblock %}