{% extends 'base.html' %}


{% block title %}A List of Pictures{% endblock title %}

{% block content %}

    <h3>Search result: {{ searched_text }}</h3>

    {% if not pictures %}

        <p>We're so sorry, but nothing was found :c</p>

    {% else %}

        {% for picture in pictures %}

            <a href="/picture/{{ picture.id }}/" title="{{ picture.title }}">
                <img src="{{ picture.image_small.url }}" alt="{{ picture.title }}">
            </a>

        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="{% if parameters %}{{ parameters }}&{% else %}?{% endif %}page=1">&laquo; first</a>
                    <a href="{% if parameters %}{{ parameters }}&{% else %}?{% endif %}page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="{% if parameters %}{{ parameters }}&{% else %}?{% endif %}page={{ page_obj.next_page_number }}">next</a>
                    <a href="{% if parameters %}{{ parameters }}&{% else %}?{% endif %}page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

    {% endif %}

{% endblock %}